.container
  .card
    .card_header
      = image_tag 'Ellipse.png'
      .card-user-info
        %p 'Jmax'
        %p.time-stamp '3 hours ago'
    .card_image
      = image_tag 'Rectangle.png'
    .card_share-area
      = image_tag 'like.png'
      = image_tag 'Comment.png'
      = image_tag 'Shere.png'
    .card_likes-list
      %p 'Jasmin and 1000 other liked your post'
    .card_detail
      %p 'Jmax'
      %p 'Summer holiday'
      
